<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="ImoDesktopApp"/>
    </extensions>

    <targets>
      <target xsi:type="File"
              name="logfile"
              fileName="Logs/ImoMessenger.log"
              layout="${pad:padding=5:inner=${level:uppercase=true}} ${longdate} ${logger}: ${message} ${exception:format=tostring}"
              archiveAboveSize="1000000"
              maxArchiveFiles="5"
              archiveNumbering="DateAndSequence" />
      <target xsi:type="Console"
              layout="${pad:padding=5:inner=${level:uppercase=true}} ${longdate} ${logger}: ${message} ${exception:format=tostring}"
              name="console" />
      <target name="errorReporter" type="ErrorReporter" />
    </targets>

    <rules>
      <logger name="*"
              minlevel="Info"
              writeTo="logfile" />
      <logger name="*"
              minlevel="Trace"
              writeTo="console" />
      <logger name="*"
              minlevel="Error"
              writeTo="errorReporter" />
    </rules>
  </nlog>
</configuration>
